<app-menu-bar></app-menu-bar>
<div class="pt-5 pb-5"></div>
<div>
  <p-card
    title="edit-user"
    header="Edit User"
    class="flex-1 flex align-items-center justify-content-center text-center"
    [style]="{ width: '45rem' }"
  >
  <div>
    <p-message class="flex-1 flex align-items-center justify-content-center text-center" [hidden]="message==null" [severity]="severity" [text]="message"></p-message>
  </div>
    <form
      [autocomplete]="false"
      [formGroup]="editUserForm"
      (ngSubmit)="onEditUser()"
      class="flex flex-column align-items-center"
      *ngIf="editUserForm != null"
    >
      <div class="field py-2">
        <p-floatLabel>
          <input id="name" type="text" pInputText formControlName="name"/>
          <label for="name">Name</label>
        </p-floatLabel>
      </div>
      <div class="field py-2">
        <p-floatLabel>
          <input
            id="surname"
            type="text"
            pInputText
            formControlName="surname"
          />
          <label for="surname">Surname</label>
        </p-floatLabel>
      </div>
      <div class="field py-2">
        <p-floatLabel>
          <input
            id="username"
            type="text"
            pInputText
            formControlName="username"
          />

          <label for="username">Username</label>
        </p-floatLabel>
      </div>
      <div class="field py-2">
        <p-floatLabel>
          <input id="email" type="email" pInputText formControlName="email"/>
          <label for="email">Email</label>
        </p-floatLabel>
      </div>
      <div class="field py-2">
        <p-floatLabel>
          <input
            id="oldPassword"
            type="password"
            pInputText
            formControlName="oldPassword"
          />
          <label for="oldPassword">Old Password</label>
        </p-floatLabel>
      </div>
      <div class="field py-2">
        <p-floatLabel>
          <input
            id="newPassword"
            type="password"
            pInputText
            formControlName="newPassword"
          />
          <label for="newPassword">New Password</label>
        </p-floatLabel>
      </div>
      <div class="field py-2">
        <p-floatLabel>
          <input
            id="confirmPassword"
            type="password"
            pInputText
            formControlName="confirmPassword"
          />
          <label for="confirmPassword">Confirm Password</label>
        </p-floatLabel>

        <div class="field-message" *ngIf="editUserForm.controls['confirmPassword'].errors?.['confirmedValidator']">
          <small id="confirmPassword-help" class="p-error">Passwords do not match.</small>
        </div>
        
      </div>
      <div class="field py-2">
        <span><label for="user-enabled">User enabled </label>
          <p-checkbox [inputId]="'user-enabled'" formControlName="enabled" [binary]="true"></p-checkbox>
        </span>
      </div>
      <div class="field py-2">
        <span class="p-float-label">
          <p-multiSelect
            inputId="float-label"
            [options]="roles"
            formControlName="sel_roles"
            optionLabel="value"
            placeholder="Select Roles"
          ></p-multiSelect>
          <label for="float-label">Select Roles</label>
        </span>
      </div>
  
      <div class="button py-5">
        <p-button
          label="Edit User"
          type="submit"
          [disabled]="editUserForm.invalid"
        ></p-button>
      </div>
    </form>
  </p-card>
</div>
