<app-menu-bar></app-menu-bar>
<div class="pt-5 pb-5" id="goUp"></div>

<h2>Anomalies</h2>
<p-card>
  <div class="card">
    <p-table
      [columns]="cols"
      [value]="anomalies"
      styleClass="p-datatable-gridlines"
      [tableStyle]="{ 'min-width': '45rem' }"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 20]"
      [globalFilterFields]="['id', 'name', 'surname', 'status']"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            pSortableColumn="{{ col.header.toLowerCase() }}"
            *ngFor="let col of columns"
            [pSortableColumnDisabled]="col.header.toUpperCase() === 'ACTIONS'"
          >
            {{ col.header.toUpperCase()
            }}<p-sortIcon
              *ngIf="col.header.toUpperCase() !== 'ACTIONS'"
              field="{{ col.header.toLowerCase() }}"
            ></p-sortIcon>
          </th>
        </tr>
        <tr>
          <th>
            <p-columnFilter type="text" field="id"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="date"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="description"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="done"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="hostname"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="ipAddress"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="hashCode"></p-columnFilter>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td>
            {{ rowData.id }}
          </td>
          <td>
            {{ rowData.formatted_date }}
          </td>
          <td>
            {{ rowData.description }}
          </td>
          <td>
            {{ rowData.done }}
          </td>
          <td>
            {{ rowData.hostname }}
          </td>
          <td>
            {{ rowData.ipAddress }}
          </td>
          <td>
            {{ rowData.hashCode }}
          </td>
          <td>
            <p-toast></p-toast>
            <p-confirmPopup></p-confirmPopup>
            <button
              pButton
              pRipple
              label="Reset"
              class="p-button-success"
              (click)="cofirmDeleteDialog($event, rowData.id)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>
